body {
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  background-color: rgba(245, 245, 245, 1);
}
a {
  text-decoration: none;
  color: black;
}
.container {
  background-color: white;
  margin: 0 auto;
  max-width: 1330px;
  padding-bottom: 50px;
  padding-top: 50px;
}
.first-logo {
  text-align: center;
}
.header-text {
  text-align: center;
  margin-bottom: 10px;
}
.sm-text {
  text-align: center;
  margin: 0px;
  opacity: 0.8;
  margin-bottom: 25px;
}
.mail-item {
  text-align: center;

  position: relative;
}
.mail-icon {
  position: absolute;
  top: 16px;
  left: 35%;
}
.password-icon {
  position: absolute;
  bottom: 89px;
  left: 35%;
}
.gozleg {
  margin-bottom: 25px;
  height: 50px;
  width: 28%;
  border-radius: 20px;
  padding-left: 40px;
  border: 1px solid rgba(208, 208, 208, 1);
}
.gozleg:focus {
  outline-color: #00ff75;
}
.gozleg:hover {
  border-color: #a3a3a3;
}
.pasword-text {
  position: absolute;
  font-size: 14px;
  left: 47%;
  margin: 0px;
  opacity: 0.8;
}
.giris-btn {
  height: 50px;
  width: 180px;
  border-radius: 35px;
  font-size: 14px;
  font-weight: bolder;
  background: rgba(52, 168, 83, 1);

  color: white;
  border: none;
}
.agza {
  margin-left: 35%;
  color: rgba(0, 255, 117, 1);
  font-size: 14px;
}
.giris-btn:hover {
  cursor: pointer;
  background-color: #2e9b4b;
  border-radius: 35px;
}
.agza:hover {
  color: #00d863;
}
.form-label {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 375px) {
  .mail-icon {
    left: 8%;
  }
  .gozleg {
    width: 80%;
  }
  .pasword-text {
    left: 40%;
  }
  .giris-btn {
    margin-left: 22%;
  }
  .agza {
    margin-left: 10%;
  }
}
