body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
.container1 {
  background-color: white;
  padding: 32px 32px 0px 32px;
  max-width: 1284px;
  margin: 0 auto;
}
.input-filter {
  padding: 15px 24px;

  width: 326px;

  background: #eeeeee;
  border-radius: 12px;
  border: 1px solid #eeeeee;
  font-size: 18px;
}
.input-filter:hover {
  border: 1px solid #02c95c;
}
.search-btn {
  background-color: transparent;
  border: none;
  position: absolute;
  left: 25.8%;
  top: 16px;
}

.top-filter {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}
.search-btn:hover {
  cursor: pointer;
}
input:focus {
  outline: none;
}

.ant-dropdown-menu {
  margin-top: 20px;
}
input::placeholder {
  font-size: 16px;
}
/* .ant-space {

} */
.ant-space-item {
  font-size: 16px;
  padding: 15px 18px 15px 18px;
  justify-content: space-between;
  height: 49px;
  width: 179px;
  border: 1px solid #9998a5;
  margin-left: 10px;
  border-radius: 12px;
}
.anticon-down {
  width: 18px;
  height: 18px;
}
.ant-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.data-pic {
  padding: 15px 18px 15px 18px;
  justify-content: space-between;
  height: 49px;
  width: 47%;
  margin-left: 10px;
  border: 1px solid #9998a5;
  border-radius: 12px;
}
.data-pic2 {
  padding: 15px 18px 15px 18px;
  justify-content: space-between;
  height: 49px;
  width: 47%;
  margin-left: 10px;
  border: 1px solid #9998a5;
  border-radius: 12px;
}
.data-pic2-add {
  padding: 15px 18px 15px 18px;
  justify-content: space-between;
  height: 49px;
  margin-left: 24px;
  width: 50%;

  border: 1px solid #9998a5;
  border-radius: 12px;
}
.data-pic-add {
  padding: 15px 18px 15px 18px;
  justify-content: space-between;

  height: 49px;
  width: 50%;
  border: 1px solid #9998a5;
  border-radius: 12px;
}
.clear-btn {
  background: transparent;
  border: 1px solid #9998a5;
  height: 49px;
  border-radius: 12px;
  width: 54px;
  margin-left: 10px;
}
.add-btn {
  background: transparent;
  border: 1px solid #9998a5;
  height: 49px;
  border-radius: 12px;
  width: 54px;
  margin-left: 10px;
}
.add-btn:hover {
  cursor: pointer;
  border: 1px solid #02c95c;
  border-radius: 12px;
  background: transparent;
}
.clear-btn:hover {
  cursor: pointer;
  border: 1px solid #02c95c;
  border-radius: 12px;
}
.ant-space-item:hover {
  border: 1px solid #02c95c;
  cursor: pointer;
}
.data-pic:hover {
  border: 1px solid #02c95c;
  cursor: pointer;
}
.data-pic2:hover {
  border: 1px solid #02c95c;
  cursor: pointer;
}
.data-pic-add:hover {
  border: 1px solid #02c95c;
  cursor: pointer;
}
.data-pic2-add:hover {
  border: 1px solid #02c95c;
  cursor: pointer;
}
.photo-upload {
  width: 154px;
  height: 162px;
  display: flex;
  justify-content: end;
  border-radius: 12px;
}
.ad-text-item {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.ad-text-item-date {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}
.ad-title {
  font-size: 22px;
  font-weight: 500;
  text-transform: capitalize;
  width: 40%;
}
.ad-input {
  width: 48%;
  height: 32px;
  border-radius: 20px;
  border: 1px solid transparent;
  background-color: #eeeeee;
  padding: 8px 20px;
  font-size: 16px;
}
.text-area {
  width: 48%;
  height: 120px;
  border-radius: 20px;
  border: 1px solid transparent;
  background-color: #eeeeee;
  padding: 8px 20px;
}
.img-add {
  display: flex;
  justify-content: end;
  margin-bottom: 24px;
  align-items: center;
}
.choose-file {
  display: none;
}
.photo-upload {
  width: 3cm;
  height: 4cm;
  border: 1px solid #9998a5;
  border-radius: 12px;
}
.ad-text-item {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.text-area:focus {
  outline: none;
}
.text-area:hover {
  border: 1px solid #02c95c;
}
.ad-input:hover {
  border: 1px solid #02c95c;
}
.new-dep-btn {
  background: transparent;
  border: 1px solid #9998a5;

  border-radius: 5px;
  width: 25%;
  margin-left: 5%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.error-message {
  font-size: 14px;
  color: red;
  margin: 0;
  width: 6%;
}
.ad-item-flex {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.date-flex {
  display: flex;
  justify-content: space-between;
  width: 52%;
}
.newdep-input {
  width: 70%;
}
.newdep-input:hover {
  border: 1px solid #02c95c;
}
.newdep-input:focus {
  border: 1px solid #02c95c;
}
.ant-select-selector:hover {
  border: 1px solid #02c95c !important;
}
.ant-select-selector:focus {
  border: 20px solid #02c95c !important;
}
.ant-select-selector {
  height: 48px !important ;
  align-items: center;
  border-radius: 20px !important;
  display: flex;
}
.ant-select-arrow {
  color: rgb(0 0 0 / 82%) !important;
  display: block !important;
  font-size: 15px !important;
}
.form-control {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.img-add-text {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
@media screen and (max-width: 1266px) {
  .container1 {
    max-width: 1200px;
    padding: 32px 27px 0px 27px;
  }
  .input-filter {
    width: 25%;
  }
  .search-btn {
    left: 22.8%;
  }
  .ant-space-item {
    width: 166px;
  }
  .data-pic {
    width: 45%;
  }
  .data-pic2 {
    width: 45%;
  }
}
@media screen and (max-width: 1124px) {
  .container1 {
    max-width: 1000px;
    padding: 32px 22px 0px 22px;
  }
  /* .input-filter {
    width: 23%;
  } */
  .search-btn {
    left: 19.8%;
  }
  /* .ant-space-item {
    width: 146px;
  } */
}
@media screen and (max-width: 994px) {
  .container1 {
    max-width: 948px;
    padding: 32px 22px 0px 22px;
  }
  .search-btn {
    left: 18.8%;
  }
}
@media screen and (max-width: 576px) {
  .container1 {
    max-width: 548px;
    padding: 16px 12px 0px 12px;
  }
  .ant-space-item {
    width: 163px;
  }
  .top-filter {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .input-filter {
    margin-bottom: 6px;
  }
  .data-pic {
    width: 50%;
    margin-left: 0px;
  }
  .add-btn {
    width: 13%;
    margin-left: 13px;
  }
  .clear-btn {
    width: 13%;
  }
  .search-btn {
    left: 26.8%;
  }
  .search-icon {
    width: 18px;
    height: 18px;
  }
}
@media screen and (max-width: 434px) {
  .container1 {
    max-width: 394px;
    padding: 16px 12px 0px 12px;
  }
  .input-filter {
    width: 81%;
    margin-left: 10px;
    margin-bottom: 16px;
  }
  .search-btn {
    left: 87.8%;
  }
  .ant-space-item {
    width: 166px;
  }
  .data-pic {
    margin-left: 10px;
    width: 46%;
    margin-top: 16px;
  }
  .data-pic2 {
    width: 46%;
  }
  .add-btn {
    width: 20%;
    margin-top: 16px;
    margin-left: 13px;
  }
  .clear-btn {
    width: 20%;
    margin-top: 16px;
  }
}
@media screen and (max-width: 378px) {
  .container1 {
    max-width: 354px;
    padding: 16px 12px 0px 12px;
  }
  .input-filter {
    width: 81%;
    margin-left: 10px;
    margin-bottom: 16px;
  }
  .search-btn {
    left: 87.8%;
  }
  .ant-space-item {
    width: 315px;
    margin-bottom: 16px;
  }
  .data-pic {
    margin-left: 10px;
    width: 46%;
    margin-top: 0px;
  }
  .data-pic2 {
    width: 46%;
  }
  .add-btn {
    width: 20%;
    margin-top: 16px;
    margin-left: 13px;
  }
  .clear-btn {
    width: 20%;
    margin-top: 16px;
  }
}
